<!DOCTYPE html>

<html>

<head>
  <title>web scrapper app</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <script src="/static/js/axios.min.js"></script>
  <style type="text/css">
    img {
      max-height: 300px;
      max-width: 100px;
    }
  </style>
</head>

<body>
  <header>

  </header>
  <main>
    <div>
      <form action="" id="search-form">
        <input id="search-input" name="query" type="text">
        <button type="button" onclick="searchRequest()">Search</button>
      </form>
      <div>
        <ul id="listing">

        </ul>
      </div>
    </div>
  </main>
  <footer>
    <div>

    </div>
  </footer>
  <script src="/static/js/reload.min.js"></script>
  <script src="/static/js/index.js"></script>
</body>

</html>